
@{
    ViewBag.Title = "FAQS";
}


<div class="row">
    <div class="container center">
        <h3>Frequently Asked Questions</h3>
        <div class="card purple-text text-darken-4 col s12 m5 offset-m1" style="height:150px;">
            <div class="card-content">
                <span class="card-title activator purple-text text-darken-4">
                    What Can I Do With Bitcoin?
                    <i class="material-icons right">more_vert</i>
                </span>
            </div>
            <div class="card-reveal">
                <span class="card-title purple-text text-darken-4">
                    What Can I Do With Bitcoin?
                    <i class="material-icons right">close</i>
                </span>
                <p>
                    You can invest Bitcoin, trade with Bitcoin (like Forex), transfer funds (it is cheaper and faster to send money across the
                    world), shop online (more stores are expecting Bitcoin as means of payment), store value, recharge airtime
                    and so much more.
                </p>
            </div>
        </div>
        <div class="card purple-text text-darken-4 col s12 m5 offset-m1" style="height:150px;">
            <div class="card-content">
                <span class="card-title activator purple-text text-darken-4">
                    What Is Bitcoin Wallet?
                    <i class="material-icons right">more_vert</i>
                </span>
            </div>
            <div class="card-reveal">
                <span class="card-title purple-text text-darken-4">
                    What Is Bitcoin Wallet?
                    <i class="material-icons right">close</i>
                </span>
                <p>
                    A Bitcoin Wallet is basically the Bitcoin equivalent of a bank account. It allows you to receive bitcoins, store them, and
                    then send them to others. We usually recommend Blockchain Wallet.
                </p>
            </div>
        </div>
        <div class="card purple-text text-darken-4 col s12 m5 offset-m1" style="height:150px;">
            <div class="card-content">
                <span class="card-title activator purple-text text-darken-4">
                    How Much Do You Buy or Sell?
                    <i class="material-icons right">more_vert</i>
                </span>
            </div>
            <div class="card-reveal">
                <span class="card-title purple-text text-darken-4">
                    How Much Do You Buy or Sell?
                    <i class="material-icons right">close</i>
                </span>
                <p>
                    Bitcoin is a volatile digital currency thus the price fluctuates. Though we specify how much we buy and sell in USD but the
                    actual value of Bitcoin in USD fluctuates. When buying or selling, you get the prevailing price while
                    placing the order.
                </p>
            </div>
        </div>
        <div class="card purple-text text-darken-4 col s12 m5 offset-m1" style="height:150px;">
            <div class="card-content">
                <span class="card-title activator purple-text text-darken-4">
                    How Do I Buy From You?
                    <i class="material-icons right">more_vert</i>
                </span>
            </div>
            <div class="card-reveal">
                <span class="card-title purple-text text-darken-4">
                    How Do I Buy From You?
                    <i class="material-icons right">close</i>
                </span>
                <p>
                    To buy bitcoin from us, you enter the amount of USD you want to see the amount in Naira. Then make payment for the Amount
                    in Naira into the Bank Account stated in the email you received. And we will fund your wallet immediately
                    the payment is received. Read detail payment terms page.
                </p>
            </div>
        </div>
        <div class="card purple-text text-darken-4 col s12 m5 offset-m1" style="height:150px;">
            <div class="card-content">
                <span class="card-title activator purple-text text-darken-4">
                    How Do I Make Payment?
                    <i class="material-icons right">more_vert</i>
                </span>
            </div>
            <div class="card-reveal">
                <span class="card-title purple-text text-darken-4">
                    How Do I Make Payment?
                    <i class="material-icons right">close</i>
                </span>
                <p>
                    We have different payment methods you can choose from while placing the order. You can make cash deposit, mobile transfer,
                    bank transfer or online transfer into our bank account stated in the email received by you. Read detail
                    payment terms page.
                </p>
            </div>
        </div>
        <div class="card purple-text text-darken-4 col s12 m5 offset-m1" style="height:150px;">
            <div class="card-content">
                <span class="card-title activator purple-text text-darken-4">
                    How Do I Sell Bitcoin To You?
                    <i class="material-icons right">more_vert</i>
                </span>
            </div>
            <div class="card-reveal">
                <span class="card-title purple-text text-darken-4">
                    How Do I Sell Bitcoin To You?
                    <i class="material-icons right">close</i>
                </span>
                <p>
                    To sell bitcoin to us, enter the amount of USD you have to see how much you get in Naira for it. Then transfer the amount
                    of Bitcoin you want to sell to the wallet address stated in the email you received. And we will fund
                    your bank account immediately the Bitcoin is received. Read detail payment terms here.
                </p>
            </div>
        </div>
        <div class="card purple-text text-darken-4 col s12 m5 offset-m1" style="height:150px;">
            <div class="card-content">
                <span class="card-title activator purple-text text-darken-4">
                    How Long Does It Take To Be Funded?
                    <i class="material-icons right">more_vert</i>
                </span>
            </div>
            <div class="card-reveal">
                <span class="card-title purple-text text-darken-4">
                    How Long Does It Take To Be Funded?
                    <i class="material-icons right">close</i>
                </span>
                <p>
                    We always to keep to our promise of instant funding of either your Wallet Address when you are buying or Bank Account when
                    you are selling. Mostly within 5 minutes once payment or bitcoin is received. We usually get the comment
                    “so fast!” from our customers.
                </p>
            </div>
        </div>
        <div class="card purple-text text-darken-4 col s12 m5 offset-m1" style="height:150px;">
            <div class="card-content">
                <span class="card-title activator purple-text text-darken-4">
                    Is There Limit To What I Can Buy or Sell?
                    <i class="material-icons right">more_vert</i>
                </span>
            </div>
            <div class="card-reveal">
                <span class="card-title purple-text text-darken-4">
                    Is There Limit To What I Can Buy or Sell?
                    <i class="material-icons right">close</i>
                </span>
                <p>
                    The minimum you can buy or sell is 100 USD worth at every given time. No maximum!
                </p>
            </div>
        </div>
        <div class="card purple-text text-darken-4 col s12 m5 offset-m1" style="height:150px;">
            <div class="card-content">
                <span class="card-title activator purple-text text-darken-4">
                    Do You Buy or Sell Other Digital Currencies?
                    <i class="material-icons right">more_vert</i>
                </span>
            </div>
            <div class="card-reveal">
                <span class="card-title purple-text text-darken-4">
                    Do You Buy or Sell Other Digital Currencies?
                    <i class="material-icons right">close</i>
                </span>
                <p>
                    Yes! We buy and sell Ethereum and Bitcoin for now but we hope to add more cryptocurrencies in the nearest future.
                </p>
            </div>
        </div>
        <div class="card purple-text text-darken-4 col s12 m5 offset-m1" style="height:150px;">
            <div class="card-content">
                <span class="card-title activator purple-text text-darken-4">
                    Your Question Is Not Answered Here?
                    <i class="material-icons right">more_vert</i>
                </span>
            </div>
            <div class="card-reveal">
                <span class="card-title purple-text text-darken-4">
                    Your Question Is Not Answered Here?
                    <i class="material-icons right">close</i>
                </span>
                <p>
                    If your question or inquiry is not answered here. Kindly fill the contact form here and we will respond promptly. You can
                    also Call/WhatsApp 08023921207 or interact with us on social media via Facebook and Twitter or send mail
                    to Qrosscrypto@gmail.com.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <p>Please call 08023921207 for inquiries or payment assistance.</p>
    </div>
</div>  